* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #242424;
}

i {
  color:  #242424;
}

h3 {
  text-align: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.logo img {
  width: 200px;
}

.logo, .input-area {
  text-align: center;
}

.input-area {
  padding: 40px 0;
}

.input-area input, .input-area button {
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-area button {
  cursor: pointer;
}

.input-area input {
  width: 250px;
  margin-right: 15px;
}

.input-area .error-msg {
  color: red;
  padding-top: 30px;
  text-transform: uppercase;
}

.tasks-area {
  background-color: #F6F7F7;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.tasks-area .task {
  display: flex;
  cursor: pointer;
  list-style: none;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #DBDCDC;
}

.tasks-area .task:hover {
  background-color: white;
}

.done {
  text-decoration: line-through;
}