<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue@3"></script>
  <title>Vue To Do List</title>
</head>
<body>
  <div id="app">

    <div class="container"> 
      <!-- logo -->
      <div class="logo">
        <img :src="logoImg" alt="Logo">
      </div>
      <!-- input area -->
      <div class="input-area">
        <input 
        v-model.trim="newTask"
        @keyup.enter="addNewTask()"
        type="text" 
        placeholder="New Tasks">
        <button 
        @click="addNewTask()"
        >
        Add</button>
        <p class="error-msg">{{errorMsg}}</p>
      </div>
      <!-- tasks area -->
      <div class="tasks-area">
        <ul v-if="tasks.length > 0">
          <li 
          v-for="(list, index) in tasks" 
          :class="{'done': list.done}"
          @click="this.tasks[index].done = !this.tasks[index].done"
          class="task">
            <span>{{list.text.toLocaleLowerCase()}}</span>
            <i @click.stop="deleteTask(index)" class="fa-regular fa-trash-can"></i>
          </li>
        </ul>
        <h3 v-else>Finally you can take a break! &#128526; there are no tasks for today</h3>
      </div>

    </div>

  </div>

  <script src="./js/script.js"></script>
</body>
</html>